@charset "utf-8";
@import url(typography.css);
@import url(rubberlayout.css);
@import url(slickeffect.css);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

.ref{
    font-size: 1.2em;
    text-align: right;
}
.description{
    font-size: 0.8em;
    font-family: Andika, sans-serif;
    color: #ababab;
}

#container{
    background: #ffffff;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Sorts Mill Goudy', serif;
    line-height: 1.8em;
}
#header, #header figure{
    margin: 0; padding: 0;
}
#header figure h1 a.title{
    display: inline-block;
    width: 200px;
    height: 75px;
    background: url(img/header.png) no-repeat;
    text-indent: -10000px;
    outline: none;
    vertical-align: bottom;
}
#header figure h1 span{
    margin-left: 1em;
}
#header figure .description{
    font-size: 10px;
}
#content #main #introduction{
    margin: 0 0 3em 0;
    padding: 2em;
    background: #e4e4e4;
    border-radius: 4px;
    background: #f7f7f7 url(img/background.png) no-repeat 90% 90%;
}
#content #main #introduction p{
    margin: 2.0em 0 0 0;
    padding: 0;
    font-size: 1.8em;
    line-height: 1.8em;
}
#content #main #introduction p:first-child{
    margin-top: 0;
}
#content #main #information:after{ content: ""; }
#content #main #information #features,
#content #main #information #compatibility{
    margin: 0;
    padding: 0;
}
#content #main #information #features h2,
#content #main #information #compatibility h2{
    margin-top: 0;
}
#content #main #information #compatibility{
    float: left;
    width: 31%;
}
#content #main #information #features{
    float: right;
    width: 61%;
}
#content #main #information #features ul{
    margin: 0;
    padding: 0 0 0 2.5em;
}
#content #main #information #features ul li{
    list-style: disc url(img/features-list-item-tick.png) outside;
}
#content #main #information #features ul li.notyet{
    list-style: circle url(img/features-list-item-cross.png) outside;
}
#content #main #gallery{
    margin: 0 auto;
}
#content #main blockquote.copyright{
    margin: 2em 0;
    padding: 2em;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#content #sidebar{
    font-size: 0.8em;
}
#content #sidebar h2{
    clear: both;
    font-size: 1.8em;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px dotted #e4e4e4;
}
#content #sidebar ul{
    margin: 0;
    padding: 0;
}
#content #sidebar ul li{
    list-style: none;
}
#content #sidebar ul#menu{
    margin: 0;
    padding: 0;
}
#content #sidebar ul#menu li{
    list-style: none;
    height: 58px;
    margin: 10px -40px 10px 10px;
    padding: 0 0 0 48px;
    border-radius: 4px;
    background: #ababab url(img/menu.png) no-repeat 0 50%;
    opacity: 0.6;
}
#content #sidebar ul#menu li:first-child{
    margin-top: 0;
}
#content #sidebar ul#menu li:hover{
    margin-left: 0;
}
#content #sidebar ul#menu li a{
    display: block;
    height: 100%;
    padding: 0 0 0 15px;
    line-height: 58px;
    border-left: 1px solid #e4e4e4;
    border-radius: 0 4px 4px 0;
    font-family: 'Pompiere', cursive;
    font-size: 20px;
    text-decoration: none;
    color: #f7f7f7;
    background: #3d3d3d;

}
#content #sidebar ul#menu a:hover{
    color: #ffabab;
}
#content #sidebar ul#menu li.home{ background-position: 0 50%; }
#content #sidebar ul#menu li.screenshot{ background-position: -48px 50%; }
#content #sidebar ul#menu li.demo{ background-position: -96px 50%; }
#content #sidebar ul#menu li.license{ background-position: -144px 50%; }
#content #sidebar ul#menu li.document{ background-position: -192px 50%; }
#content #sidebar ul#menu li.download{ background-position: -240px 50%; }
#content #sidebar ul#menu li.contact{ background-position: -288px 50%; }

#content #sidebar #author-info-table{
    float: right;
    margin-bottom: 4em;
}
#content #sidebar #logos li{
    text-align: center;
}
