@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Andika);
/*
 * Typography CSS
 */
h1, h2, h3, h4, h5, h6{
    font-size: 100%;
}
body{
    font-size: 10px !important;
    font-size: 62.5%;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    line-height: 1.8;
    color: #3d3d3d;
    background: url(http://subtlepatterns.com/patterns/whitey.png);
}
a { color: #7ebea0; }
p { font-size: 1.4em; }

h2{
    font-size: 2.4em;
    font-family: 'Andika', sans-serif;
    font-style: italic;
}
h2:first-child{
    margin-top: 0;
    padding-top: 0;
}

ul li{
    font-size: 1.4em;
}
