[submodule "src/libs/Textarea"]
	path = src/libs/Textarea
	url = git://github.com/lambdalisue/Textarea.git
[submodule "src/libs/Richarea"]
	path = src/libs/Richarea
	url = git://github.com/lambdalisue/Richarea.git
