[submodule "external/Richarea"]
	path = external/Richarea
	url = git@github.com:lambdalisue/Richarea.git
[submodule "external/Textarea"]
	path = external/Textarea
	url = git@github.com:lambdalisue/Textarea.git
