body{
    background: #f7f7f7;
    color: #3c3c3c;
    font-size: 0.8em;
}
a, a:visited{
    color: #8e8eaa;
}
a:hover, a:active{
    color: #8e8eff;
}
p.description{
    color: #ababab;
    font-size: 0.9em;
}
div#wrapper{
    position: relative;
    width: 980px;
    margin: 10px auto;
    padding: 20px;
    padding-top: 40px;
    border: 1px solid #e4e4e4;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
header p{
    color: #ababab;
}
h2{
    padding-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;
}
h3{
    padding: 2px 0 5px 10px;
    border-left: 4px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
nav#relatedlinks{
    position: absolute;
    top: 20px; right: 20px;
}
nav#relatedlinks ul{
    margin: 0;
    padding: 0;
}
nav#relatedlinks ul li{
    display: inline-block;
    margin: 0 2px;
    padding: 0;
}
nav#relatedlinks ul li a{
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -10000px;
    outline: none;
    opacity: 0.6;
}
nav#relatedlinks ul li a:hover{
    opacity: 1.0;
}
nav#relatedlinks ul li#github a{
    background: url(./img/github_16.png) no-repeat;
}
nav#relatedlinks ul li#tumblr a{
    background: url(img/tumblr_16.png) no-repeat;
}
nav#relatedlinks ul li#twitter a{
    background: url(img/twitter_16.png) no-repeat;
}
div.addthis_toolbox{
    position: absolute;
    top: 20px; left: 20px;
}
.jencilholder{
    width: 100px;
    margin: 0 auto;
    background: red;
}
