@import "mixin";

.jencil {
    .panelMixin;

    .workspace .mainPanel {
        padding: 5px 0;
        background: #f9f9f9;

        .panel{
            &.left {
                margin-right: 5px;
            }
            &.right {
                margin-left: 5px;
            }
            &.top {
                margin-bottom: 5px;
            }
            &.bottom {
                margin-top: 10px;
            }
            &.editor, &.viewer {
                .panelMixin;
                background: #ffffff;
            }
        }
    }
}

