.panelMixin {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  border: 1px solid #e4e4e4;
  background: #f9f9f9;
}
.jencil {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  border: 1px solid #e4e4e4;
  background: #f9f9f9;
}
.jencil .workspace .mainPanel {
  padding: 5px 0;
  background: #f9f9f9;
}
.jencil .workspace .mainPanel .panel.left {
  margin-right: 5px;
}
.jencil .workspace .mainPanel .panel.right {
  margin-left: 5px;
}
.jencil .workspace .mainPanel .panel.top {
  margin-bottom: 5px;
}
.jencil .workspace .mainPanel .panel.bottom {
  margin-top: 10px;
}
.jencil .workspace .mainPanel .panel.editor,
.jencil .workspace .mainPanel .panel.viewer {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
  border: 1px solid #e4e4e4;
  background: #f9f9f9;
  background: #ffffff;
}
