.jencil-text-editor:after{ content: ""; }
.jencil-text-editor .jencil-textarea,
.jencil-text-editor .jencil-preview{
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #ffffff;
}
.jencil-text-editor.preview-enable.left div:first-child,
.jencil-text-editor.preview-enable.right div:first-child{
    margin-right: 2px;
}
.jencil-text-editor.preview-enable.left div:last-child,
.jencil-text-editor.preview-enable.right div:last-child{
    margin-right: 2px;
}
