.jencil .jencil-workspace .jencil-rich-editor:after{ content: "";}
.jencil .jencil-workspace .jencil-rich-editor .jencil-richarea{
    width: 100%;
    height: 480px;
    margin: 0;
    padding: 0;
    border: none;
    color: #3c3c3c;
    border: 1px solid #e4e4e4;
    background: #fbfbfb;
    overflow: auto;
    scroll: auto;
    resize: none;
}
.jencil .jencil-workspace .jencil-rich-editor .jencil-richarea .surface{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: #ffffff;
}
.jencil .jencil-workspace .jencil-rich-editor .jencil-richarea .surface html,
.jencil .jencil-workspace .jencil-rich-editor .jencil-richarea .surface html body{
    margin: 0;
    padding: 0;
}
.jencil .jencil-workspace .jencil-rich-editor .jencil-richarea .surface:focus{
    outline: none;
    background: #ffffff;
}
.jencil .jencil-workspace .jencil-rich-editor .jencil-rawview .surface{
    width: 100%;
    height: 480px;
    margin: 0;
    padding: 0;
    border: none;
    color: #3c3c3c;
    border: 1px solid #e4e4e4;
    background: #fbfbfb;
    overflow: auto;
    scroll: auto;
    padding: 10px;
    resize: none;
}
.jencil .jencil-workspace .jencil-text-editor .jencil-rawview .surface:focus{
    outline: none;
    background: #ffffff;
}
.jencil .jencil-workspace .jencil-rich-editor.rawview-position-right{
    height: 480px;
}
.jencil .jencil-workspace .jencil-rich-editor.rawview-position-right .jencil-richarea{
    width: 100%;
    height: 100%;
}
.jencil .jencil-workspace .jencil-rich-editor.rawview-position-right.rawview-enable .jencil-richarea{
    float: left;
    width: 49.5%;
    height: 100%;
}
.jencil .jencil-workspace .jencil-rich-editor.rawview-position-right .jencil-rawview{
    float: right;
    width: 49.8%;
    height: 99.8%;
}
